<div class="row justify-content-center banner">
  <div class="col-12 d-flex flex-column justify-content-center align-items-center h-100">
    <%= image_tag 'profile.jpg', alt: "Koji Juan Kaga", class: 'avatar' %>
    <h1 class="title-main">Koji Juan Kaga</h1>
    <p class="title-sub">Junior Full Stack Developer</p>
    <p class="title-sub">Ruby on Rails · JavaScript · AI Integration</p>
  </div>
</div>
